@model HelperExtensionSample.Models.Employee
@using AKB.MVC5.HtmlHelperExtensions.MVC5.HelperExtensions.Componets.Helper.StringBuilderr.Extension
@using AKB.MVC5.HtmlHelperExtensions.MVC5.HelperExtensions.Componets.MVC5.Components.Common

@{
	ViewBag.Title = "CreateEmployee";
}

<h2>CreateEmployee</h2>

@using (Html.BeginForm("SaveEmployee", "HtmlHelper", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Employee</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.BootstrapTextBoxFor(model => model.Name, HtmlHelperExtensionsCommon.Html5InputTypes.text,"Name","Employee Name",true,true)
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.BootstrapTextBoxFor(model => model.Age,HtmlHelperExtensionsCommon.Html5InputTypes.number,"Age","Age",true,false)
				@Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.BootstrapTextBoxFor(model => model.Gender, HtmlHelperExtensionsCommon.Html5InputTypes.text,"Gender","Gender",true,false)
				@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.BootstrapCheckBoxFor(model=>model.IsApplied,"Is Applied","Is Employee Applied",false,true)
		@*</div>
		<div class="form-group">*@
			@Html.BootstrapCheckBoxFor(model => model.IsApproved, "Is Approved","Is Employee Approved",false,true)
		</div>

		@*<div class="form-group">
			@Html.RadioButtonFor(model => model.IsApplied, "Is Applied")
			</div>
			<div class="form-group">
			@Html.RadioButtonFor(model => model.IsApproved, "Is Approved")
		</div>*@


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
